body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-size: cover;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.balance-input {
    position: relative;
    width: 90px;
    height: 90px;
    text-align: center;
    font-size: 60px;
    border: none;
    background-color: transparent;
    outline-width: 0;
    color: #C0AB69;
    caret-color: #C0AB69;
}

.input-placeholder {
    height: 0;
}

.game-container {
    height: 600px;
    background-color: rgba(0, 0, 0, 0.8);
}